html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;

}

.parolla-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgba(var(--background-color), 0.5);
}

.parolla-box {
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s ease;
  width: 50%;
  height: auto;
}

.parolla-box.light {
  background-color: rgba(238, 238, 238, 0.8);
}

.parolla-box.dark {
  background-color: rgba(68, 68, 68, 0.8);
}

.parolla-title {
  font-size: 48px;
  font-weight: bold;
  margin: 10px;
  color: var(--text-color);
}

.parolla-subtitle {
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0;
  color: var(--text-color);
}

.button-container {
  margin-top: 40px;
}

.classic-button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.survival-button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
